@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: black;
    color: white;
}

._carcouselGradient{
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0));
}